extends layout

block main
    main(class="main")
        h1= message
        p This is a plain paragraph with a url. Here comes <a href="/test/page">The actual link</a>.
        p Here is an image <img id="portrait" src="/img/portrett_small.jpg">
        //div(class="success") Success
        //div(class="warning") Warning
        //div(class="error") Error
        //div(class="message") Message
